body {
  font-family: "Alumni Sans", sans-serif;
  background-color: #f5f9ee;
}
.container {
  border: 3px solid #393e46;
  border-radius: 15px;
  margin: 100px auto;
  max-width: 700px;
  max-height: 500px;
  display: block;
  padding: 50px 50px 0;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(21, 21, 21, 0.211);
}
h1 {
  text-align: center;
  font-size: 60px;
  margin: 0;
  font-weight: normal;
  color: #393e46;
}
h2,
h3 {
  text-align: right;
  margin: 0;
}
.info {
  list-style: none;
  font-size: 20px;

  position: relative;
  top: -95px;
  left: 444px;
}

input {
  max-width: 30%;
  position: relative;
  top: -160px;
  left: 165px;
}
button {
  width: 12%;
  position: relative;
  top: -198px;
  left: 355px;
}
main {
  padding: 0;
  text-align: center;
  position: relative;
  top: -180px;
  font-size: 23px;
  margin: 15px;
}
.weather {
  list-style: none;
}
footer {
  text-align: center;
  position: relative;
  top: -170px;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 0 20px 20px;
  transition: all 200ms ease-in-out;
}

.forecast {
  background-color: transparent;
  transition: transform 0.2s; /* Animation */
}
.forecast:hover {
  transform: scale(1.1);
  background-color: rgba(143, 143, 143, 0.132);
}

.temp {
  font-size: 60px;
  position: relative;
  top: -80px;
  left: 470px;
}
.units {
  font-size: 18px;
  position: relative;
  top: -30px;
  right: 15px;
}
a {
  text-decoration: none;
}
